.ioc-filtered-list ul.filtered-fields {
    padding: 0;
    /*border: 1px solid grey;*/
    margin-left: 0;
    margin-right: 0;

    border: 1px solid #cccccc;
    border-radius: 4px;

    min-height: 35px;
}

.ioc-filtered-list li {
    padding: 0;
    margin: 2px;
    display: inline-block;
}

.ioc-filtered-list li.entry {
    position: relative;
    /*width: 98%;*/
}

.ioc-filtered-list .query {
    border: none;
    font-size: 16px;
}

.ioc-filtered-list .content {
    position: absolute;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 0;
    padding: 0;
    background-color: #fff;
    overflow-y: auto;
    max-height: 350px;
    width: 150px;
    top: 22px;
    left: -3px;
}

.ioc-filtered-list li.selected {
    background-color: lightgrey;
    border: 1px solid grey;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
}

.ioc-filtered-list li.selected span {
    color: grey;
    cursor: pointer;
    padding: 5px;
}

.ioc-filtered-list-icon {
    width: 16px;
    height: 16px;
}

.ioc-filtered-list-icon.search {
    /* No es pot especificar la ruta de la imatge perquè el widget no conservar la ruta parcial */
    /*background-image: url('../images/search-icon.png');*/
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAACnUlEQVR42mNkwAFOHDvqysHJlfH5y2cGZmYWNkYGhosfPnzo9PTy+oysjhGH5qYnH35kM3FyfeDnFXjOyszE8OPbJ5lfH19/XLxgQcLKVavO4zTg0IH9BdeefSn5zS24x8ne6gs3E+NfZkaG//8ZGf6+ePnS5NTO9fKNdbWOr9+8uY9hwI5tW0XZeEUObTj7bFdMrP9PLiZGVua/DP+ZgHIsTAyMrOwM/x7fu+PbV192dO269YkYBpw6cSzg2rOfvU+YpFtMTVT5mP8wsHMyMbCwMjMws7EwMHECDfj987fupPp8pVkzpnsAtbxBMeD4scOxV579L/0uqt1pZyhkycnAwMwNtJ4FqIqJieE/MzPD378/GWTrynMkZkybGgvUchvVBcePuj78wDj9GatKpZ2ZqCkfMwMPFxPDP6gBDECX/Pn14ZdWZUWO4OzZs0OBWh6gGLBh/To2EXGpk3e/i61TM1B8IsPLYAV0xU+g/xmYmBn+AdkMl89d9c0vyDhw+PCRHCD3K0YstDQ1ehpbO00T1DRtl5FkZxdkYFBiZmD4x8rAwP761Xvbjo5mxsmTJuX8/fv3ENZonDp1tqe6muK2T9++vZfV1DojISbyj+n3H8lbV6+Lz5k9497atWvbf/z4sQ2o9C+GAUuWrLLU0dHdffjwnm91tbWV0lJS7LLy8iYf3r//c+vWrQtv373bBVR2F4j/YySkRYuWaMnKqu/5/fu9ZHZ2dt3t27fbYLbgA2ADpkyZLykrq7RHTo5fq7W1ed2aNWszgMKvCWkGG9Dfv8hGWFis3cBA1mbr1o3XKyur4oDiZ4jRDDZg46Z9ZbIyou0vXjz8GR+fmPH69etFxGoGG2BpaS4lIiIa8fz5C84zZ870A8W+kWIAAApaASC9GF9LAAAAAElFTkSuQmCC')
}