.ioc-filtered-item.wrapper {
    padding: 0 5px;
    margin: 0;
    background-color: #fff;
    cursor: pointer;
    margin-bottom:0;
    border-bottom:1px solid lightgrey;
}

.ioc-filtered-item.wrapper.candidate {
    background-color: lightgrey;
}

.ioc-filtered-item b {
    color: black;
}

.ioc-filtered-item i {
    color: grey;
}

div.ioc-filtered-item.wrapper:hover {
    background-color: lightgrey;
}
