<div>
  <ul data-dojo-attach-point="selectedItemsNode" class="filtered-fields">
    <li data-dojo-attach-point="entryListItem" class="entry">
      <input class="query" type="query" data-dojo-attach-point="entryText" required="true"/>
      <div class="content" data-dojo-attach-point="contentListNode" style="display:none"></div>
    </li>
      <input type="hidden" name="${fieldName}" data-dojo-attach-point="hiddenSelected"/>
  </ul>

  <div data-dojo-attach-point="buttonContainer"></div>


</div>