.ioc-selected-item div.filtered-fields {
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    border: 1px solid #cccccc;
    border-radius: 4px;
    min-height: 35px;
    background-color: #eee;
}

.ioc-selected-item div.entry {
    position: relative;
    padding: 0;
    margin: 5px;
    display: block;
    color: grey;
}

.ioc-selected-item .query {
    border: none;
    font-size: 14px;
}

.ioc-selected-item span {
    margin: 5px;
    display: block;
    font-size: 14px;
    color: #555555;
}
