<div role="presentation" tabIndex="-1">
    <div id="${id}_container" class="dijitTooltipContainer" role="presentation">
        <div data-dojo-type="dijit/form/Form" id="${id}_form" 
             data-dojo-id="${id}_form" encType="multipart/form-data" name=" " action="" method="">
            <div class ="dijitTooltipContents dijitTooltipFocusNode" 
                 dojoAttachPoint="containerNode" role="dialog">
            </div>  
            <button id="${id}_OkButton" data-dojo-type="dijit.form.Button" type="submit">D'acord</button>
            <button id="${id}_CancelButton" data-dojo-type="dijit.form.Button" type="reset">Cancel·la</button>
        </div>
    </div>
    <div class="dijitTooltipConnector" role="presentation"></div>
</div>
